body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(bluebg.jpg) repeat blue;
    color:beige
}

main {
    background: url(redFlowerSmall.png) no-repeat center;
}

.aqua {
    color:aqua;
}

.shrink {
    width: 250px;
}
ul {
    list-style-image: url(dot.png);
}